[submodule "clangir"]
	path = clangir
	url = git@github.com:DFA-SE-integration/clangir.git
	branch = seqra
[submodule "sea-dsa"]
	path = sea-dsa
	url = git@github.com:DFA-SE-integration/sea-dsa.git
	branch = cir-tac
[submodule "Test-Suite"]
	path = Test-Suite
	url = git@github.com:DFA-SE-integration/Test-Suite.git
