[submodule "clangir"]
	path = clangir
	url = git@github.com:DFA-SE-integration/clangir.git
[submodule "sea-dsa"]
	path = sea-dsa
	url = git@github.com:DFA-SE-integration/sea-dsa.git
	branch = cir-tac
